<div>
	<title>{{title}}</title>
	<h1>{{title}}</h1>
	<div id='a'>{{content | safe}}</div>
	<div id="epiceditor" style="height:90%;display:none;">
		<textarea id="aa" style="display:none;">{{content| safe }}</textarea>
	</div>
	<label>{{author}}</label>
	<label>{{created_at}}</label>
	<label>{{updated_at}}</label>
	<button onclick="loadEditor()" style="display:{{flag}};">Edit</button>
	<a href="/edit/{{title}}" style="display:{{flag}};">Edit</button>
</div>
<script src="/static/plugins/epiceditor.min.js"></script>
<script src="/static/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
<script>
var opts = {
	basePath: '../static',
	textarea: "aa"
		 }

function loadEditor(){
	$("#a").text('');
	$("#epiceditor").css("display","");
	var editor = new EpicEditor(opts).load();
	//editor.preview();
	$("input").val(editor.getElement('previewer').body.innerHTML);
}

</script>
