{% extends "layout.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
<form id="login-form" action="/signup" method="post">
	<div id="login-username">
		<span>
			<label>Username: </label>
			<input type="text" name="username"/>
		</span>
	</div>
	<div id="login-password">
		<span>
			<label>Password: </label>
			<input type="password" name="password"/>
		</span>
	</div>
	<div id="login-verify">
		<span>
			<label>Verify Password: </label>
			<input type="password" name="verify"/>
		</span>
	</div>
	<div id="login-username">
		<span>
			<label>Email(Optional): </label>
			<input type="text" name="email"/>
		</span>
	</div>
    <div class="error"> {{error}} </div>
	<div>
		<button type="submit">Register</button>
	</div>
</form>
